{% extends "layout.html" %}
{% block content %}
<div class="starter-template">
  <h1>DILMS</h1>
  <h2>The Digital Index of Late-Medieval Song</h2>
  <br>
  <hr style="margin-bottom:-2em" />
</div>

<div class="starter-template">
  <p class="text-left">
    The Digital Index of Late-Medieval Song (DILMS) is an attempt to index and
    describe every extant copy of every polyphonic song written down in
    fifteenth-century Europe. The original version was developed by Will
    Watson for his dissertation, "<a href="https://www.researchgate.net/publication/340849806_Circulating_Song_from_the_Century_before_Print">Circulating Song from the Century before Print</a>,"
    and lived only on his personal computer. The project is now open-source, and
    <a href="https://www.github.com/wcwatson/dilms">available on github</a>.
  </p>
  <br>
  <p class="text-left">
    DILMS is still under development, and is not yet ready for a public
    release. Until then, if you want to get involved or have any questions
    about the project, feel free to <a href="mailto:admin@dilms.org">get in touch</a>.
  </p>
  <br>
  <p>
    <img src="static/images/Mellon_77v-78r.png" alt="Alas alas alas" width="600" height="400" />
  </p>
  <p>
    Walter Frye's &quot;Alas alas alas&quot; in the Mellon Chansonnier, 77v-78r
  </p>
</div>
{% endblock %}
